.swiper {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: var(--color-white);
  --swiper-pagination-color: rgba(255, 255, 255, 0.617);
  --swiper-pagination-bullet-border-radius: 2px;
  --swiper-pagination-bullet-width: 40px;
  --swiper-pagination-bullet-height: 4px;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperImage {
  display: block;
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.autoplayProgress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 0.8rem;
  color: var(--color-white);
}

.autoplayProgress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 2px;
  stroke-opacity: 0.5;
  stroke: var(--color-white);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-190deg);
}
